@import url("styles.css");
/* Media Queries */
/* Extra Small */
@media (max-width: 575px) {
  .navbar-logo {
    width: 100%;
  }
  .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #141b26;
    margin-top: 12px;
  }

  .navbar-buttons::before {
    content: "";
    display: block;
    width: 98%;
    margin: auto;
    height: 1px;
    background-color: #141b26;
    margin-bottom: 12px;
  }
  .header-text h1 {
    font-size: 35px;
    line-height: 45px;
  }
  header {
    padding-top: 100px;
    text-align: center;
  }
  .header-buttons {
    margin-bottom: 20px;
  }
  .header-img {
    width: 85%;
    height: 250px;
    margin: auto;
  }
  .header-overlay {
    bottom: -10px;
    padding: 10px;
    left: 30px;
  }
  .primary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  .sign {
    width: 100%;
  }
  .secondary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  /* Our Games Section */
  .carousel-item-img {
    width: calc(100% - 8px);
  }
  .carousel-item-img img {
    height: 400px;
  }
  .game-card {
    padding: 45px 0px;
  }
  .what-text h2 {
    font-size: 28px;
    margin-top: 15px;
    line-height: 0px;
  }
  .what-text h3 {
    font-size: 25px;
    margin-top: 15px;
  }
  .game-card h4 {
    font-size: 18px;
  }
  /* Sponsors */
  #sponsors::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 350px;
  }
  .team-member-card {
    height: 300px;
  }
  .our-team-text h2 {
    font-size: 30px;
  }
  .our-team-text h5 {
    color: #8f97a4;
    padding: 25px 0 50px;
    font-size: 18px;
  }
  .our-team-text h2 {
    font-size: 25px;
    color: var(--secondary-color);
    font-weight: 900;
    line-height: 45px;
    margin-top: 5px;
  }
  /* Contact */
  .contact-us-info-cards {
    width: 100%;
  }
  .contact-us-form {
    margin-top: 40px;
    width: 100%;
  }
  .contact-us-text span {
    padding: 24px 0 50px;
    font-size: 18px;
    font-weight: 400;
  }
  /* Info Card */
  .contact-us-info-card {
    margin-bottom: 15px;
    padding: 40px 30px;
  }
  .contact-us-info-card-icon {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }
  .contact-us-info-card-icon i {
    color: black;
    font-size: 22px;
  }
  /* footer */
  .links .col-lg-3 {
    width: 100%;
  }
}

/* Small */
@media (min-width: 575px) {
  .navbar-logo {
    width: 100%;
  }
  .navbar-collapse::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #141b26;
    margin-top: 12px;
  }

  .navbar-buttons::before {
    content: "";
    display: block;
    width: 98%;
    margin: auto;
    height: 1px;
    background-color: #141b26;
    margin-bottom: 12px;
  }
  .header-text h1 {
    font-size: 35px;
    line-height: 55px;
  }
  header {
    padding-top: 100px;
  }
  .header-buttons {
    margin-bottom: 14px;
  }
  .header-img {
    width: 80%;
    height: 250px;
  }
  .header-overlay {
    bottom: -10px;
    padding: 10px;
    left: 30px;
  }
  .primary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  .sign {
    width: 100%;
    line-height: 30px;
  }
  .secondary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  /* Carousel */
  .carousel-item-img {
    width: calc(100% - 8px);
  }
  .carousel-item-img img {
    height: 420px;
  }
  .game-card {
    padding: 70px 0px;
  }
  .what-text h2 {
    font-size: 28px;
    margin-top: 15px;
    line-height: 0px;
  }
  .what-text h3 {
    font-size: 25px;
    margin-top: 15px;
  }
  .our-team-text h5 {
    color: #8f97a4;
    padding: 25px 0 50px;
    font-size: 22px;
  }
  .our-team-text h2 {
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: 900;
    line-height: 45px;
    margin-top: 5px;
  }
  /* sponsors */
  #sponsors::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 450px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      ellipse,
      rgb(203, 254, 28) 0%,
      rgba(172, 255, 47, 0.25) 35%,
      rgba(130, 210, 50, 0.3) 50%,
      rgba(60, 120, 20, 0) 50%,
      transparent 100%
    );
    filter: blur(15px);
  }
  /* Contact */
  .contact-us-info-cards {
    width: 100%;
  }
  .contact-us-form {
    margin-top: 40px;
    width: 100%;
  }
}

/* Medium */
@media (min-width: 768px) {
  .header-text h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .header-img {
    width: 400px;
    height: 320px;
  }
  .primary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  .secondary-button {
    padding: 18px;
    font-size: 13px;
    font-weight: 600;
  }
  header {
    padding-top: 170px;
  }
  /* Carousel */
  .carousel-item-img {
    width: 100%;
  }
  .carousel-item-img img {
    height: 100%;
  }
  .game-card {
    padding: 150px 0px;
  }
  .what-text h2 {
    font-size: 48px;
    line-height: 45px;
    margin-top: 5px;
  }
  .what-text h3 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 10px;
    padding-bottom: 40px;
  }
  .our-team-text h5 {
    font-size: 20px;
  }
  .our-team-text h2 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 5px;
  }
  /* sponsors */
  #sponsors::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 450px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      ellipse,
      rgb(203, 254, 28) 0%,
      rgba(172, 255, 47, 0.25) 35%,
      rgba(130, 210, 50, 0.3) 50%,
      rgba(60, 120, 20, 0) 50%,
      transparent 100%
    );
    filter: blur(15px);
  }
}

/* Large */
@media (min-width: 992px) {
  .navbar-logo {
    width: auto;
  }
  body {
    font-size: var(--font-size) * 1.5;
  }
  .collapse::before {
    display: none;
  }

  .navbar-buttons::before {
    display: none;
  }
  .header-text h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .header-img {
    width: 600px;
    height: 400px;
  }
  button.primary-button {
    z-index: 20;
    background-color: var(--primary-color);
    color: var(--primary-bg);
    font-size: 16px;
    font-weight: 900;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out;
  }
  .primary-button::after {
    content: "";
    background: linear-gradient(90deg, #0000, #fff6, #0000);
    width: 100%;
    height: 100%;
    transition: left 0.6s;
    position: absolute;
    top: 0;
    left: -100%;
  }
  button.primary-button:hover {
    background-color: #a4ce1a;
  }
  .primary-button:hover::after {
    left: 100%;
  }
  .secondary-button {
    background-color: transparent;
    font-size: 16px;
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 900;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  .secondary-button::after {
    content: "";
    background: linear-gradient(90deg, #0000, #fff6, #0000);
    width: 100%;
    height: 100%;
    transition: left 0.6s;
    position: absolute;
    top: 0;
    left: -100%;
  }
  button.secondary-button:hover {
    background-color: var(--primary-color);
    color: black;
  }
  header {
    padding-top: 170px;
  }
  .game-card {
    padding: 80px 0px;
  }
  /* sponsors */
  #sponsors::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 450px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      ellipse,
      rgb(203, 254, 28) 0%,
      rgba(172, 255, 47, 0.25) 35%,
      rgba(130, 210, 50, 0.3) 50%,
      rgba(60, 120, 20, 0) 50%,
      transparent 100%
    );
    filter: blur(15px);
  }
  /* Contact */
  .contact-us-info-cards {
    width: 46%;
  }
  .contact-us-form {
    margin-top: 0;
    width: 50%;
  }
}

/* Extra Large */
@media (min-width: 1200px) {
  body {
    font-size: var(--font-size) * 2;
  }
  .header-text h1 {
    font-size: 60px;
    line-height: 75px;
  }
  .header-img {
    width: 600px;
    height: 400px;
  }
}

/* Extra Extra Large */
@media (min-width: 1400px) {
  body {
    font-size: var(--font-size) * 2;
  }
  .header-img {
    width: 600px;
    height: 400px;
  }
}
