/* General */
:root {
  --primary-bg: #0b0e13;
  --primary-color: #cbfe1c;
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: #99a1af;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-800: #1e2939;
  --color-light: #f1f1f1;
  --secondary-color: #fff;
  --font-size: 14px;
}
::selection {
  background-color: var(--primary-color);
  color: var(--primary-bg);
}
body {
  font-family: Chakra Petch, sans-serif;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Days One, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-size: 0;
}

.primary-text {
  color: var(--primary-color);
}
.secondary-text {
  color: var(--secondary-color);
}

/* Buttons */
button.primary-button {
  z-index: 20;
  background-color: var(--primary-color);
  color: var(--primary-bg);
  font-weight: 900;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
}
.primary-button::after {
  content: "";
  background: linear-gradient(90deg, #0000, #fff6, #0000);
  width: 100%;
  height: 100%;
  transition: left 0.6s;
  position: absolute;
  top: 0;
  left: -100%;
}
button.primary-button:hover {
  background-color: #a4ce1a;
}
.primary-button:hover::after {
  left: 100%;
}
.secondary-button {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--primary-color);
  color: var(--primary-color);
  font-weight: 900;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.secondary-button::after {
  content: "";
  background: linear-gradient(90deg, #0000, #fff6, #0000);
  width: 100%;
  height: 100%;
  transition: left 0.6s;
  position: absolute;
  top: 0;
  left: -100%;
}
button.secondary-button:hover {
  background-color: var(--primary-color);
  color: black;
}
.secondary-button:hover::after {
  left: 100%;
}

/* Navbar */
nav {
  background-color: var(--primary-bg);
  position: relative;
}
nav::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #131a25;
}
.navbar-buttons i {
  font-size: 1.15rem;
  transition: color 0.1s ease-in-out;
}
.nav-btn span {
  transition: color 0.1s ease-in-out;
}
.nav-pills .nav-link:hover,
.navbar-buttons i:hover,
.nav-btn:hover i,
.nav-btn:hover span {
  color: var(--primary-color);
}
.navbar-logo a.navbar-brand {
  color: var(--primary-color);
  font-weight: 900;
}
.navbar-brand:hover {
  color: var(--primary-color);
  cursor: text;
}
.nav-pills .nav-link.active {
  color: var(--primary-color);
  background-color: transparent;
}
span.navbar-toggler-icon {
  transition: background-image 0.1s ease-in-out;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
span.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(203, 254, 28)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.nav-link {
  color: white;
}
.nav-link:focus {
  color: white;
}
/* Header Section */
header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../assets/images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 160px;
  padding-bottom: 60px;
}
.header-text h1 {
  color: var(--secondary-color);
  font-size: 60px;
  line-height: 75px;
}
.header-text p {
  color: #d1d5dc;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
}
.header-text h1 span {
  color: var(--primary-color);
}
.header-img {
  background: linear-gradient(
    80deg,
    var(--primary-color),
    oklch(79.2% 0.209 151.711)
  );
  width: 600px;
  height: 400px;
}
.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-overlay {
  bottom: -25px;
  left: 50px;
  padding: 15px;
  background-color: #0b0e13;
  border-radius: 8px;
}
.header-overlay-icon {
  font-size: 20px;
}
.header-overlay-text span {
  color: OKLCH(0.707 0.022 261.325);
  font-size: 12px;
}
.header-overlay-text p {
  font-size: 20px;
  font-weight: 700;
}
/* Our-Games */
.our-games {
  background-color: #0b0e13;
  padding: 70px 0px;
}
.special-text p {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
.special-text p::after {
  content: "";
  position: absolute;
  left: -85px;
  top: 50%;
  width: 70px;
  height: 3px;
  background: linear-gradient(to left, var(--primary-color), #0000);
}
.special-text p::before {
  content: "";
  position: absolute;
  right: -85px;
  top: 50%;
  width: 70px;
  height: 3px;
  background: linear-gradient(to right, var(--primary-color), #0000);
}
.what-text h2 {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 45px;
  margin-top: 5px;
}
/* Carousel */
.carousel {
  padding-top: 60px;
}
.carousel-item-img img {
  height: 300px;
  transition: transform 0.4s ease-in-out;
}
.fa-arrow-left,
.fa-arrow-right {
  background-color: transparent;
  color: #afa89d;
  font-size: 20px;
  border: 2px solid #756d60;
  width: 55px;
  height: 55px;
  padding: 15px;
  border-radius: 50%;
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}
.fa-arrow-left:hover,
.fa-arrow-right:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.controls {
  & button.secondary-button {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
  }
  & button.secondary-button:hover {
    background-color: var(--primary-color);
    color: var(--primary-bg);
    font-weight: 900;
  }
  & button.secondary-button::after {
    background: unset;
  }
  i {
    cursor: pointer;
  }
}
.carousel-item-img {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.carousel-item-img img {
  width: 100%;
  height: 100%;
}
.carousel-overlay {
  pointer-events: none;
  position: absolute;
  background: linear-gradient(
    360deg,
    rgba(203, 254, 28, 0.7),
    rgba(0, 0, 0, 0.0001),
    rgba(0, 0, 0, 0.0001)
  );
  border: 2px solid var(--primary-color);
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: border 0.3s ease-in, opacity 0.3s ease-in;
}
.carousel-overlay span {
  position: relative;
  background-color: #0000005f;
  border-radius: 20px;
  padding: 5px 10px;
  top: -300px;
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 600;
  transition: top 0.4s ease-in-out;
}
.carousel-overlay i {
  color: var(--primary-color);
}
.carousel-overlay p {
  color: black;
  position: absolute;
  bottom: -300px;
  font-size: 16px;
  font-weight: 700;
  transition: bottom 0.4s ease-in-out;
}
/* Hover Effect */
.carousel-item-img:hover img {
  transform: scale(1.05);
}
.carousel-item-img:hover {
  .carousel-overlay {
    opacity: 1;
  }
  .carousel-overlay span {
    top: 12px;
  }
  .carousel-overlay p {
    bottom: 5px;
  }
}
/* What We Do */
#whatWeDo {
  background-color: #0b0e13;
  padding: 70px 0px;
}
.what-text h3 {
  font-family: Chakra Petch, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: white;
  margin-top: 10px;
  padding-bottom: 40px;
}
.game-card {
  background-color: #1a1a1a;
  border: 1px solid #1e2939;
  border-radius: 20px;
  height: 100%;
  position: relative;
  transition: border-color 0.2s ease-in-out;
  overflow: hidden;
}
.game-card-icon {
  background-color: #1e2939;
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.game-card-icon i {
  color: var(--primary-color);
  font-size: 22px;
  transition: color 0.2s ease-in-out;
}
.game-card h4 {
  font-size: 22px;
  margin: auto;
  font-weight: 600;
  line-height: 24px;
  color: #f1f1f1;
  margin-top: 20px;
}
.game-card-image img {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.game-card-content::after {
  content: "";
  border-right: 25px solid transparent;
  border-top: 25px solid var(--primary-color);
  position: absolute;
  top: -200px;
  left: -200px;
  transition: all 0.3s ease-in-out;
}
.game-card-content::before {
  content: "";
  border-left: 25px solid transparent;
  border-bottom: 25px solid var(--primary-color);
  position: absolute;
  bottom: -200px;
  right: -200px;
  transition: all 0.3s ease-in-out;
}
.game-card:hover .game-card-content::after {
  top: 15px;
  left: 15px;
}
.game-card:hover .game-card-content::before {
  bottom: 15px;
  right: 15px;
}
.game-card:hover .game-card-icon {
  background-color: var(--primary-color);
}
.game-card:hover {
  border-color: var(--primary-color);
}
.game-card:hover .game-card-icon i {
  color: black;
}
/* game-cards after border */
.game-cards {
  position: relative;
}
.game-cards::after {
  content: "";
  position: absolute;
  bottom: -50px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-image: linear-gradient(
      90deg,
      transparent,
      var(--primary-color) 20%,
      var(--primary-color) 80%,
      transparent
    )
    1;
  box-shadow: 0 0 10px var(--primary-color), 0 0 20px #cbfe1c4d;
  border-width: 2px;
  border-style: solid;
}
/* Sponsors */
#sponsors {
  position: relative;
}
#sponsors::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 450px;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    ellipse,
    rgba(203, 254, 28, 0.7) 0%,
    rgba(172, 255, 47, 0.25) 35%,
    rgba(130, 210, 50, 0.3) 50%,
    rgba(60, 120, 20, 0) 50%,
    transparent 100%
  );
  filter: blur(15px);
}
.sponsor-logo {
  min-width: 110px;
  max-width: 110px;
}
.sponsor-logos-first-row {
  width: max-content;
  animation: imageAnimation 30s infinite linear;
}
.sponsor-logos-second-row {
  width: max-content;
  animation: imageAnimation 30s infinite reverse linear;
}
/* Keyframes to images */
@keyframes imageAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Our Team */
#ourTeam {
  background-color: #0b0e13;
  padding: 60px 0;
}
.our-team-text h5 {
  color: #8f97a4;
  padding: 25px 0 50px;
  font-size: 20px;
}
.our-team-text h2 {
  font-size: 45px;
  color: var(--secondary-color);
  font-weight: 900;
  line-height: 45px;
  margin-top: 5px;
}

.team-member-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  height: 360px;
}

.team-member-img {
  width: 100%;
  height: 100%;
}

.team-member-img img {
  border-radius: 20px;
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

.team-member-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: grayscale() brightness(0.9);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  z-index: 1;
}

.team-member-card:hover::before {
  transform: translateY(-100%);
}

.team-member-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
}

.team-member-titles h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 28px;
}

.team-member-titles p:nth-child(2) {
  color: #cbfe1c;
  font-size: 14px;
  margin: 0;
}

.team-member-titles p:nth-child(3) {
  color: #8f97a4;
  font-size: 12px;
  margin: 0;
}

.team-member-others h6 {
  color: #cbfe1c;
  font-weight: 700;
  transform: rotate(90deg);
  transform-origin: right bottom;
  margin-right: 15px;
  font-size: 14px;
}
/* Contact Us */
#contactUs {
  background-color: #0e1420;
  padding: 60px 0;
}
.contact-us-text span {
  display: inline-block;
  color: #8f97a4;
  padding: 24px 0 50px;
  font-size: 20px;
  font-weight: 400;
}
/* Data */
.contact-us-info-cards {
  width: 46%;
}
.contact-us-form {
  width: 50%;
}
/* Info Card */
.contact-us-info-card {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background-color: #1e2939;
  padding: 40px 30px 60px;
  border-radius: 17px;
}
.contact-us-info-card-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.contact-us-info-card-icon i {
  color: black;
  font-size: 22px;
}
.contact-us-info-card-text {
  color: #8f97a4;
}
.contact-us-info-card-text h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.contact-us-info-card-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
/* Join Community Card */
.join-community-card {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--color-green-400)
  );
  padding: 30px;
  border-radius: 17px;
}
.join-text h3 {
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-bg);
  font-weight: 700;
}
.join-text p {
  font-size: 16px;
  line-height: 24px;
}
.join-community-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.join-community-icon:hover {
  opacity: 0.8;
}
.join-community-icon i {
  color: var(--primary-color);
  font-size: 22px;
}
/* Contact Us Form */
.contact-us-form {
  background-color: #1e2939;
  padding: 35px 30px 30px;
  border-radius: 17px;
}
.contact-us-form h3 {
  font-size: 24px;
  line-height: 32px;
  color: rgb(241, 241, 241);
  font-weight: 700;
  margin-bottom: 24px;
}
/* Form */
#form input,
#form textarea,
#form select {
  width: 100%;
  resize: none;
  background-color: var(--color-gray-700);
  border: 2px solid var(--color-gray-600);
  border-radius: 10px;
  padding: 12px 15px;
  margin-bottom: 15px;
  color: var(--color-light);
  font-weight: 500;
}
#form input::placeholder,
#form textarea::placeholder,
#form select::placeholder {
  color: #8e949d;
}

#form input:focus,
#form textarea:focus,
#form select:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

#form label {
  display: block;
  color: var(--color-gray-300);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 12px;
}
#form #subscribe {
  margin: 0 10px 0 0;
  padding: 0;
  width: 20px;
}
#form .subscription label {
  margin: 0;
  color: var(--color-gray-400);
  font-weight: 100;
}
#form button {
  margin-top: 25px;
}
#form input[type="checkbox"]:focus {
  outline: 3px solid var(--primary-color);
  border: none;
}
#form::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-700);
  margin-top: 30px;
}
/* Support */
.support-time {
  text-align: center;
  margin-top: 40px;
}
.support-time h4 {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 100;
}
.support-time p {
  color: var(--color-gray-400);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

/* Footer */
#footer {
  padding: 48px 0px;
}
.logo-social p {
  color: var(--color-gray-400);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  width: 90%;
}
.links .col-lg-3 h5 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
hr {
  margin: 0;
}
.border-secondary {
  color: var(--color-gray-800);
  margin-bottom: 15px;
  border-width: 2px;
}
.footer-links li {
  line-height: 40px;
}
.footer-links li a {
  color: var(--color-gray-400);
  text-decoration: none;
  transition: 0.3s;
}

.footer-links li a:hover {
  color: var(--primary-color);
}
.footer-bottom-link {
  color: var(--color-gray-400);
}
.copyright {
  color: var(--color-gray-400);
}
.footer-bottom-link:hover {
  color: var(--primary-color);
}

.social-icons i {
  color: var(--color-gray-400);
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  color: var(--primary-color);
}

.footer h5 {
  font-size: 1.1rem;
}
